:root {
    --amareloPinto: #FFC100;
    --laranjaSoft: #FF8A08;
    --vermelhoScarlate: #C40C0C;
    --brancoPrimario: #f5f5f5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--brancoPrimario);
    font-family: sans-serif;
}

body::-webkit-scrollbar{
    display: none;
}

main {
    display: flex;
    flex-direction: column;
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url('../images/banner.jpeg');
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 90vh;
    margin-bottom: 2%;
}

#menu-toggle{
    display: none;
}

#menu-toggle:checked ~ .sMenu{
    left: 0;
}

.menuBtn{
    top: 50%;
    left: 20px;
    position: absolute;
    transform: translateY(-50%);
    width: 30px;
    height: 22px;
    cursor: pointer;
    z-index: 1002;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.menuBtn span{
    display: block;
    height: 5px;
    border: 1px solid black;
    width: 100%;
    background: var(--brancoPrimario);
    border-radius: 2px;
    transition: 0.3s;
}

.navMenu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    background: var(--laranjaSoft);
    padding: 10px 20px;
}

.linksMenu {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.5s;
}

.btnsMenu {
    width: auto;
    position: absolute;
    right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.5s;
}

.logoMenu{
    width: 60vw;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 20vw;
    transition: all 0.5s;
}

.logoTampix{
    width: 14vw;
    height: 8vh;
}

.sMenu{
    position: fixed;
    top: 0;
    left: -280px;
    width: 280px;
    height: 100vh;
    background: #1a2041;
    color: white;
    transition: left 0.3s ease;
    padding: 80px 25px 30px;
    z-index: 1001;
}

.sMenu .linksMenu li{
    padding: 15px 20px;
    text-align: center;
}

.sMenu .linksMenu li:hover{
    background: none;
    cursor: pointer;
}

.sMenu .linksMenu a:hover{
    display: block;
    color: white;
    text-decoration: none;
}

#menu-toggle:checked + .menuBtn span:nth-child(1){
    transform: rotate(45deg) translate(7px, 7px);
    background: var(--vermelhoScarlate);
    border: none;
}

#menu-toggle:checked + .menuBtn span:nth-child(2){
    opacity: 0;
}

#menu-toggle:checked + .menuBtn span:nth-child(3){
    transform: rotate(-45deg) translate(6px, -6px);
    background: var(--vermelhoScarlate);
    border: none;
}

.linksMenu {
    gap: 15px;
    list-style: none;
    display: flex;
    flex-direction: column;
}

.linksMenu a {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    transition: all 0.5s;
}

.linksMenu a:hover {
    transform: translateY(5px);
    color: rgb(255, 255, 156);
}

.btnsMenu button {
    color: var(--laranjaSoft);
    border: none;
    border-radius: 30px;
    padding: 10px 20px;
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    width: 24vw;
    padding: 2%;
}

section {
    min-height: 50vh;
}

.textsBanner {
    width: 90%;
    height: calc(90vh - 60px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    gap: 30px;
}

.tittleBanner {
    font-size: 1.5rem;
    text-align: center;
    color: var(--amareloPinto);
}

.textBanner {
    font-size: 1rem;
    text-align: center;
    color: var(--brancoPrimario);
}


.saibaMais {
    background: var(--brancoPrimario);
    border-radius: 30px;
    color: black;
    width: 24vw;
    height: 6vh;
    font-size: 1.08rem;
    border: none;
}

.divTextAbout{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3%;
}

.divTextAbout h2{
    color: var(--laranjaSoft);
    font-family: "Montserrat", sans-serif;
    font-size: 35px;
    margin-bottom: 0.5%;
}

.divTextAbout h3{
    width: 80%;
    text-align: center;
    font-family: "DM Sans", sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: var(--laranjaSoft);
    margin-bottom: 3%;
}

.container {
    display: flex;
    justify-content: center;
    gap: 5%;
}



.cardsAbout h2 {
    color: var(--amareloPinto);
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    text-align: center;
}

.secAbout{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cardsAbout{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.35);
    padding: 4%;
    border-radius: 9px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom: 40px solid #FFC100;
    transition: all 0.5s;
    margin-bottom: 7%;
}

.cardsAbout2{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.35);
    padding: 4%;
    border-radius: 9px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom: 40px solid rgb(0, 97, 29);
    transition: all 0.5s;
    margin-bottom: 7%;
}

.cardsAbout3{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.35);
    padding: 4%;
    border-radius: 9px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom: 40px solid var(--vermelhoScarlate);
    transition: all 0.5s;
    margin-bottom: 7%;
}

.divAbout1{
    font-size: 30px;
    color: var(--amareloPinto);
    margin-bottom: 1%;
}

.divAbout2{
    font-size: 30px;
    color: rgb(0, 97, 29);
    margin-bottom: 1%;
}

.divAbout3{
    font-size: 30px;
    color: var(--vermelhoScarlate);
    margin-bottom: 1%;
}

.cardsAbout h2 {
    color: var(--amareloPinto);
    font-family: "Montserrat", sans-serif;
    font-size: 28px;
    font-weight: 550;
    text-align: center;
    margin-bottom: 3%;
}

.cardsAbout2 h2 {
    color: rgb(0, 97, 29);
    font-family: "Montserrat", sans-serif;
    font-size: 28px;
    font-weight: 550;
    text-align: center;
    margin-bottom: 3%;
}

.cardsAbout3 h2 {
    color: var(--vermelhoScarlate);
    font-family: "Montserrat", sans-serif;
    font-size: 28px;
    font-weight: 550;
    text-align: center;
    margin-bottom: 3%;
}

.cardsAbout p{
    width: 90%;
    text-align: center;
    font-family: "DM Sans", sans-serif;
    font-size: 17.3px;
}

.cardsAbout2 p{
    width: 90%;
    text-align: center;
    font-family: "DM Sans", sans-serif;
    font-size: 17.3px;
}

.cardsAbout3 p{
    width: 90%;
    text-align: center;
    font-family: "DM Sans", sans-serif;
    font-size: 17.3px;
}

.cardsAbout:hover{
    transform: translateY(-8px);
    box-shadow: 0 0 15px rgba(255, 193, 0, 0.9);
}

.cardsAbout2:hover{
    transform: translateY(-8px);
    box-shadow: 0 0 15px rgba(0, 97, 29, 0.7);
}

.cardsAbout3:hover{
    transform: translateY(-8px);
    box-shadow: 0 0 15px rgba(196, 12, 12, 0.9);
}

.secWork{
    margin-bottom: 5%;
}

.divTextWork{
    width: 90%;
    display: flex;
    flex-direction: column;
    margin-left: 4%;
    margin-bottom: 3%;
}

.divTextWork h1{
    color: rgb(0, 97, 29);
    font-family: "Montserrat", sans-serif;
    font-size: 35px;
    font-weight: 600;
}

.divTextWork h2{
    width: 100%;
    font-family: "DM Sans", sans-serif;
    font-size: 18px;    
    font-weight: 500;
}

.containerWork{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 3%;
}

.divWork{
    width: 45%;
    margin-bottom: 5%;
}

.divWork img{
    display: block;
    width: 100%;
    margin-bottom: 1%;
    border-radius: 3px;
    margin-bottom: 3%;
}

.divWork h3{
    color: rgb(0, 97, 29);
    font-family: "Montserrat", sans-serif;
    font-size: 27px;
    font-weight: 600;
    margin-bottom: 2%;
}

.divWork p{
    width: 100%;
    font-family: "DM Sans", sans-serif;
    font-size: 17px;
}

.containerPreQuant{  
    box-sizing: border-box;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 10%;
    gap: 3%;
    margin: 4%;
}

.containerPreQuant img{
    display: block;
    width: 45%;
    border-radius: 5px;
    margin-bottom: 5%;
}

.divTextPreQuant{
    width: 100%;
}

.divTextPreQuant h1{
    color: var(--vermelhoScarlate);
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 2%;
}

.divTextPreQuant h2{
    color: rgb(43, 43, 43);
    font-family: "DM Sans", sans-serif;
    font-size: 33px;
    font-weight: 550;
    margin-bottom: 5%;
}

.divTextPreQuant h4{
    font-family: "DM Sans", sans-serif;
    font-size: 19px;
    font-weight: 450;
    margin-bottom: 6%;
}

.divTextPreQuant p{
    font-family: "DM Sans", sans-serif;
    font-size: 19px;
    font-weight: 450;
    margin-bottom: 4%;
}

.divTextPreQuant a{
    width: 40%;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 17px;
    background-color: var(--vermelhoScarlate);
    padding: 1%;
    border-radius: 5px;
    text-decoration: none;
    transition: all 0.5s;
}

.divTextPreQuant a:hover{
    color: var(--vermelhoScarlate);
    background-color: rgb(223, 222, 222);
}

.secFAQ {
    margin: 0;
    padding: 5% 10%;
    width: 100%;
    color: white;
    background: var(--laranjaSoft);
}

.titulo-faq {
    margin-bottom: 30px;
    text-align: center;
}

.item {
    margin: 15px 0;
    overflow: hidden;
    border-radius: 8px;
    background: var(--amareloPinto);
}

.pergunta {
    padding: 18px;
    font-weight: 600;
    cursor: pointer;
}

.resposta {
    max-height: 0;
    padding: 0 18px;
    overflow: hidden;
    color: var(--brancoPrimario);
    line-height: 1.5;
    transition: 0.3s ease-in-out;
}

.item:hover .resposta {
    max-height: 150px;
    padding: 0 18px 18px;
}

footer{
    background: white;
    height: 75vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.figure-div  .figure-img{
    width: 45vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}
  
.footer-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    object-fit: contain;
}


.img-footer{
    width: 100%;
}

.menu-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    width: 65vw;
    height: 20vh;
}
  
.footer-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    width: 65vw;
    height: 15vh;
}

.af{
    text-decoration: none;
}
  
.menu-footer .af {
    color: var(--amareloPinto);
    font-size: 1.3rem;
    font-weight: 500;
    transition: 0.3s;
}
  
  
.tp-footer .af{
    white-space: nowrap;
    display: flex;
    justify-content: left;
    width: 50vw;
    font-size: 1.3rem;
}
  
.tp-footer .af:hover {
    color: var(--laranjaSoft);
    transform: scale(1.1);
    transition: 0.3s;
}
  
.footer-duvida {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70vw;
}
  
.h3-footer{
    font-size: clamp(1.5rem, 2vw, 4rem);
    opacity: 0.8;
    text-align: center;
    color: var(--vermelhoScarlate);
}
  
.pfooter {
    font-size: clamp(1rem, 2vw, 0.85rem);
    opacity: 0.8;
    text-align: center;
}
  
.contato{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 75vw;
    height: 15vh;
    gap: 10px;
}

.btnsMenu2 {
    width: 30vw;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s;
}

.linksMenu2 {
    gap: 15px;
    list-style: none;
}

.linksMenu2 a {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    transition: all 0.5s;
}

.linksMenu2 a:hover {
    transform: translateY(5px);
    color: rgb(255, 255, 156);
}

.btnsMenu2 button {
    color: var(--laranjaSoft);
    border: none;
    border-radius: 30px;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    width: 30vw;
    height: 4vh;
    padding: 2%;
}


.h2-footer{
    text-align: center;
    font-size: 1.1rem;
}

.fp{
    color: var(--amareloPinto);
}








@media (max-width: 768px) {

    
    :root {
        --amareloPinto: rgb(255, 193, 0);
        --laranjaSoft: rgb(255, 138, 8);
        --vermelhoScarlate: rgb(196, 12, 12);
        --brancoPrimario: rgb(245, 245, 245);
    }
    
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    body {
        overflow-x: hidden;
        background: var(--brancoPrimario);
        font-family: sans-serif;
    }
    
    body::-webkit-scrollbar {
        display: none;
    }
    
    .overlayBanner {
        background: rgba(0, 0, 0, 0.5);
        height: 90vh;
        idth: 100%;
        z-index: 100;
        margin-bottom: 6%;
    }
    
    main {
        width: 90%;
        margin: auto;
        display: flex;
        flex-direction: column;
    }
    
    header {
        background-image:
            linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)),
            url('../images/banner.jpeg');
        background-size: cover;
        background-position: center center;
        width: 100%;
        height: 90vh;
    }
    
    .navMenu {
        display: none;
        align-items: center;
        justify-content: space-between;
        background: var(--laranjaSoft);
        padding: 1%;
    }
    
    .linksMenu,
    .logoMenu,
    .btnsMenu {
        width: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.5s;
    }
    
    .linksMenu {
        gap: 15px;
        list-style: none;
    }
    
    .linksMenu a {
        color: white;
        font-family: "Montserrat", sans-serif;
        font-size: 20px;
        font-weight: 500;
        text-decoration: none;
        transition: all 0.5s;
    }
    
    .linksMenu a:hover {
        transform: translateY(5px);
        color: rgb(255, 255, 156);
    }
    
    .btnsMenu button {
        color: var(--laranjaSoft);
        border: none;
        border-radius: 30px;
        font-family: "Montserrat", sans-serif;
        font-size: 18px;
        padding: 2%;
    }
    
    section {
        min-height: 50vh;
    }
    
    .textsBanner {
        width: 90%;
        height: calc(90vh - 60px);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: auto;
        gap: 30px;
    }
    
    .tittleBanner {
        font-size: 1.5rem;
        text-align: center;
        color: var(--amareloPinto);
    }
    
    .textBanner {
        font-size: 1rem;
        text-align: center;
        color: var(--brancoPrimario);
    }
    
    .saibaMais {
        background: var(--brancoPrimario);
        border-radius: 30px;
        color: black;
        width: 24vw;
        height: 6vh;
        font-size: 1.08rem;
        border: none;
    }
    
    .divTextAbout{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 3%;
    }
    
    .divTextAbout h2{
        color: var(--laranjaSoft);
        font-family: "Montserrat", sans-serif;
        font-size: 35px;
        margin-bottom: 0.5%;
    }
    
    .divTextAbout h3{
        width: 80%;
        text-align: center;
        font-family: "DM Sans", sans-serif;
        font-size: 20px;
        font-weight: 500;
        color: var(--laranjaSoft);
        margin-bottom: 3%;
    }
    
    .container{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 10%;
    }
    
    .secAbout{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .cardsAbout{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.35);
        padding: 4%;
        border-radius: 9px;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        border-bottom: 40px solid #FFC100;
        transition: all 0.5s;
        margin-bottom: 7%;
    }
    
    .cardsAbout2{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.35);
        padding: 4%;
        border-radius: 9px;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        border-bottom: 40px solid rgb(0, 97, 29);
        transition: all 0.5s;
        margin-bottom: 7%;
    }
    
    .cardsAbout3{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.35);
        padding: 4%;
        border-radius: 9px;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        border-bottom: 40px solid var(--vermelhoScarlate);
        transition: all 0.5s;
    }
    
    .divAbout1{
        font-size: 30px;
        color: var(--amareloPinto);
        margin-bottom: 1%;
    }
    
    .divAbout2{
        font-size: 30px;
        color: rgb(0, 97, 29);
        margin-bottom: 1%;
    }
    
    .divAbout3{
        font-size: 30px;
        color: var(--vermelhoScarlate);
        margin-bottom: 1%;
    }
    
    .cardsAbout h2 {
        color: var(--amareloPinto);
        font-family: "Montserrat", sans-serif;
        font-size: 28px;
        font-weight: 550;
        text-align: center;
        margin-bottom: 3%;
    }
    
    .cardsAbout2 h2 {
        color: rgb(0, 97, 29);
        font-family: "Montserrat", sans-serif;
        font-size: 28px;
        font-weight: 550;
        text-align: center;
        margin-bottom: 3%;
    }
    
    .cardsAbout3 h2 {
        color: var(--vermelhoScarlate);
        font-family: "Montserrat", sans-serif;
        font-size: 28px;
        font-weight: 550;
        text-align: center;
        margin-bottom: 3%;
    }
    
    .cardsAbout p{
        width: 90%;
        text-align: center;
        font-family: "DM Sans", sans-serif;
        font-size: 17.3px;
    }
    
    .cardsAbout2 p{
        width: 90%;
        text-align: center;
        font-family: "DM Sans", sans-serif;
        font-size: 17.3px;
    }
    
    .cardsAbout3 p{
        width: 90%;
        text-align: center;
        font-family: "DM Sans", sans-serif;
        font-size: 17.3px;
    }
    
    .cardsAbout:hover{
        transform: translateY(-8px);
        box-shadow: 0 0 15px rgba(255, 193, 0, 0.9);
    }
    
    .cardsAbout2:hover{
        transform: translateY(-8px);
        box-shadow: 0 0 15px rgba(0, 97, 29, 0.7);
    }
    
    .cardsAbout3:hover{
        transform: translateY(-8px);
        box-shadow: 0 0 15px rgba(196, 12, 12, 0.9);
    }
    
    
    
    
    .secWork{
        margin-bottom: 5%;
    }
    
    .divTextWork{
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 7%;
    }
    
    .divTextWork h1{
        color: rgb(0, 97, 29);
        font-family: "Montserrat", sans-serif;
        font-size: 35px;
        font-weight: 600;
    }
    
    .divTextWork h2{
        width: 100%;
        font-family: "DM Sans", sans-serif;
        font-size: 18px;    
        font-weight: 500;
    }
    
    .containerWork{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    
    .divWork{
        width: 95%;
        margin-bottom: 5%;
    }
    
    .divWork img{
        display: block;
        width: 100%;
        margin-bottom: 1%;
        border-radius: 3px;
        margin-bottom: 3%;
    }
    
    .divWork h3{
        color: rgb(0, 97, 29);
        font-family: "Montserrat", sans-serif;
        font-size: 27px;
        font-weight: 600;
        margin-bottom: 2%;
    }
    
    .divWork p{
        width: 100%;
        font-family: "DM Sans", sans-serif;
        font-size: 17px;
    }
    
    
    
    
    .secPreQuantity{
    
    }
    
    .containerPreQuant{
        box-sizing: border-box;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 10%;
    }
    
    .containerPreQuant img{
        display: block;
        width: 100%;
        border-radius: 5px;
        margin-bottom: 5%;
    }
    
    .divTextPreQuant{
        width: 100%;
    }
    
    .divTextPreQuant h1{
        color: var(--vermelhoScarlate);
        font-family: "Montserrat", sans-serif;
        font-size: 30px;
        font-weight: 600;
        margin-bottom: 2%;
    }
    
    .divTextPreQuant h2{
        color: rgb(43, 43, 43);
        font-family: "DM Sans", sans-serif;
        font-size: 33px;
        font-weight: 550;
        margin-bottom: 5%;
    }
    
    .divTextPreQuant h4{
        font-family: "DM Sans", sans-serif;
        font-size: 19px;
        font-weight: 450;
        margin-bottom: 6%;
    }
    
    .divTextPreQuant p{
        font-family: "DM Sans", sans-serif;
        font-size: 19px;
        font-weight: 450;
        margin-bottom: 4%;
    }
    
    .divTextPreQuant a{
        width: 40%;
        color: white;
        font-family: "Montserrat", sans-serif;
        font-size: 19px;
        background-color: var(--vermelhoScarlate);
        padding: 1%;
        border-radius: 5px;
        text-decoration: none;
        transition: all 0.5s;
    }
    
    .divTextPreQuant a:hover{
        color: var(--vermelhoScarlate);
        background-color: rgb(223, 222, 222);
    }
    
    
    
    }